.main {
    display: flex;
}

.header {
    justify-content: space-between;
}

.header__user {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header__user--logo {
    font-size: 4rem;
    margin-right: 8rem;
}

.header__user--name {
    margin-top: 4px;
    margin-right: 8rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
}

.home {
    width: 32rem;
    /* height: 50rem; */
    height: calc(100vh - 10rem);
}

.home__head {   
    display: flex;
    width: 32rem;
    height: 16.05%;
    align-items: center;
    box-sizing: border-box;
}

.home__head--icon {
    margin-left: 13px;
    font-size: 1.4rem;
    color: rgb(6, 6, 63);
    cursor: default;
}

.home__head--name {
    margin-left: 10px;
    width: 75px;
    height: 20px;
    color: #0000FF;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-decoration: underline;
}

.home__head--page {
    margin-left: 13px;
    width: 130px;
    height: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    cursor: default;
}

.home__stockroom--link,
.home__order--link,
.home__finance--link {
    display: flex;
    text-decoration: none;
    cursor: pointer;
}

.home__stockroom {
    background-color: #247E6E;
    border: 1px solid #0F3234;
}

.home__order {
    background-color: #48BBC3;
    border: 1px solid #0F3234;
}

.home__finance {
    background-color: #48BBC3;
    border: 1px solid #0F3234;
}

.home__order:hover,
.home__finance:hover {
    opacity: 0.7;
}


.menu {
    display: flex;
    width: 100%;
    /* height: 8rem; */
    height: 16.05%;
    align-items: center;
}
.menu__list {
    margin-left: 5.8rem;
    margin-right: 1rem;
    /* width: 25rem; */
    width: 19.5vw;
    height: 4rem;
    border-radius: 1rem;
    background-color: #FBDE45;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}
.menu__putin {
    margin-right: 1rem;
    /* width: 20rem; */
    width: 15.7vw;
    height: 4rem;
    border-radius: 1rem;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;

}
.menu__list-price {
    margin-right: 1rem;
    /* width: 15rem; */
    width: 11.7vw;
    height: 4rem;
    border-radius: 1rem;
    background-color:#D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}
.menu__tracking {
    margin-right: 1rem;
    /* width: 24rem; */
    width: 18.8vw;
    height: 4rem;
    border-radius: 1rem;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}
.information {
    flex-direction: column;
    display: flex;
}
.site__infor {
    margin-left: 68.5rem;
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
}

.site__infor--content {
    width: 5rem;
    height: 2rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
}
.site__infor--start {
    width: 1.7rem;
    height: 1.7rem;
    background-color: #00FFF0;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
}
.site__infor--line {
    margin: 0 2px;
    width: 2px;
    height: 20px;
    background-color: black;
}
.site__infor--end {
    width: 1.7rem;
    height: 1.7rem;
    background-color: #00FFF0;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
}

.content {
    margin: 0 1.2rem 3.4rem 6.6rem;
    /* width: 86rem; */
    width: 67.2vw;
    /* height: 36rem; */
    height: 28.59vh;
    background-color: #fff;
}

.table, th,td {
    border: 1px solid black;
}

.content__title {
    text-align: center;
    line-height: 4.5rem;
    background-color: #C3FFF4;
    font-weight: 500;
    font-size: 2rem;
}

.content__detail {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 4.5rem;
}

.content__detail--group {
    text-align: center;
    vertical-align: middle;
}

.content__detail--icon {
    float: right;
    margin-right: 20px;
    margin-left: -20px;
}

.site__change {
    margin: -2rem 32.1rem 0 32rem;
    /* width: 30rem; */
    width: 23.82vw;
    height: 2rem;
    display: flex;
    align-items: center;
}

.site__change--left {
    width: 2rem;
    height: 2rem;
    background-color: gray;
    display: flex;
    border-radius: 3px;
}

.site__change--left--icon {
    margin: auto;
}

.site__change--number {
    margin-left: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: #D2D2D2;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 3px;
}

.number__1 {
    background-color: #074794;
}

.site__change--right,
.site__change--end {
    width: 2rem;
    height: 2rem;
    background: gray;
    margin-left: 2rem;
    display: flex;
    border-radius: 3px;
}

.site__change--right--next,
.site__change--right--end {
    margin: auto;
    
}

.site__change--left:hover,
.site__change--number:hover,
.site__change--right:hover,
.site__change--end:hover {
    background-color: #075794;
}