.main {
    display: flex;
}
.header {
    justify-content: space-between;
}
.header__user {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header__user--logo {
    font-size: 4rem;
    margin-right: 8rem;
}

.header__user--name {
    margin-top: 4px;
    margin-right: 8rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
}

.home {
    width: 32rem;
    height: calc(100vh - 10rem);
}

.home__head {   
    display: flex;
    width: 320px;
    height: 16.05%;
    align-items: center;
    box-sizing: border-box;
}

.home__head--icon {
    margin-left: 13px;
    font-size: 1.4rem;
    color: rgb(6, 6, 63);
    cursor: default;
}

.home__head--name {
    margin-left: 10px;
    width: 75px;
    height: 20px;
    color: #0000FF;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-decoration: underline;
}

.home__head--page {
    margin-left: 13px;
    width: 130px;
    height: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    cursor: default;
}

.home__stockroom--link,
.home__order--link,
.home__finance--link {
    display: flex;
    text-decoration: none;
    cursor: pointer;
}

.home__stockroom {
    background-color: #247E6E;
    border: 1px solid #0F3234;
}

.home__order {
    background-color: #48BBC3;
    border: 1px solid #0F3234;
}

.home__finance {
    background-color: #48BBC3;
    border: 1px solid #0F3234;
}

.home__order:hover,
.home__finance:hover {
    opacity: 0.7;
}


.menu {
    display: flex;
    width: 100%;
    /* height: 8rem; */
    height: 16.05%;
    align-items: center;
}
.menu__list {
    margin-left: 5.8rem;
    margin-right: 1rem;
    /* width: 25rem; */
    width: 19.5vw;
    height: 4rem;
    border-radius: 1rem;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}
.menu__putin {
    margin-right: 1rem;
    /* width: 20rem; */
    width: 15.7vw;
    height: 4rem;
    border-radius: 1rem;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;

}
.menu__list-price {
    margin-right: 1rem;
    /* width: 15rem; */
    width: 11.7vw;
    height: 4rem;
    border-radius: 1rem;
    background-color: #FBDE45;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}
.menu__tracking {
    margin-right: 1rem;
    /* width: 24rem; */
    width: 18.8vw;
    height: 4rem;
    border-radius: 1rem;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}

.content {
    flex-direction: column;
    display: flex;
}
.product {
    margin: 0 1rem 0 1.8rem;
    /* width: 91rem; */
    width: 72.27vw;
    /* height: 42rem; */
    height: 70vh;
    background-color: #FFF;
    border-radius: 1rem 0 0 0;
    border: 1px solid #000;
    display: flex;
    box-sizing: border-box;
}

.product__brick,
.product__cement,
.product__screw {
    /* width: 30rem; */
    width: 33.33%;
    height: 30rem;
    margin: 2.5rem 0.25rem 0 0.25rem;
    display: block;
}

.product__brick--image,
.product__cement--image,
.product__screw--image {
    width: 20rem;
    height: 20rem;
    background-size: contain;
    margin-left: 5rem;
}

.product__brick--infor,
.product__cement--infor,
.product__screw--infor {
    margin-top: 1rem;
    width: 28rem;
    height: 5.5rem;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.9rem;
    text-align: center;
    color: #000;
}

.product__brick--price,
.product__cement--price,
.product__screw--price {
    width: 28rem;
    height: 3.5rem;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.9rem;
    text-align: center;
    color: #000;
}

.product__brick--price-detail,
.product__cement--price-detail,
.product__screw--price-detail {
    color: #FF0000EB;
}